# Syslog Configuration
SYSLOG_FACILITY=local0
SYSLOG_TAG=ParisParkingAPI

# API Configuration
PORT=3003
NODE_ENV=development

# Parking Configuration
PARKING_NAME=Paris Centre Parking
PARKING_CITY=Paris
PARKING_LOCATION=Champs-Élysées, Paris

# External Dependency Configuration
PARIS_DEPENDENCY_URL=https://management.azure.com/metadata/endpoints?api-version=2020-06-01
